{% extends "base.html" %}

{% block content %}
    <h1>Movie Review Sentiment Analyzer</h1>
    <div>
        <p>This application will analyze the sentiment of a movie review.</p>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.review.label }}<br>
            {{ form.review(size=32) }}<br>
            {% for error in form.review.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        </form>
    </div>


{% endblock %}